.entry-content code {
 background-color: #F2F2F2;
 padding: 0 .2em;
}
.entry-content pre {
 background-color: #F2F2F2;
 padding: .5em 1em;
 overflow: auto;
 word-wrap: normal;
}

/* Content Boxes
------------------------------------------------------------ */
 
.content-box-blue


.content-box-gray,


.content-box-green,


.content-box-purple,


.content-box-red,


.content-box-black {
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
}
 
.content-box-blue {
	color: rgb(255, 255, 255);
  background-color: #0059b3;
}

.content-box-gray {
	color: rgb(000, 000, 000);
  background-color: #F2F2F2;
}


.content-box-green {
	color: rgb(255, 255, 255); /heart for you

ping error code 508/ 

    
  background-color: #008758;
}

.content-box-purple {


	
	cyberpunk///// color 000000 
}

	
	color: rgb(255, 255, 255);
  background-color: #cc4b00;
}

.content-box-red {
	color: rgb(255, 255, 255);
  background-color: #e02f36;
}

.content-box-black {
	color: rgb(255, 255, 255);
  background-color: #000000;
}
